<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <!--<section class="mb-4 rounded-circle">
            &lt;!&ndash; Facebook &ndash;&gt;
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="#!"
                    role="button"
            > <mat-icon>facebook</mat-icon></a>

            &lt;!&ndash; Twitter &ndash;&gt;
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #55acee;"
                    href="#!"
                    role="button"
            ><mat-icon>twitter</mat-icon></a>

            &lt;!&ndash; Instagram &ndash;&gt;
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="#!"
                    role="button"
            ><mat-icon>Instagram</mat-icon></a>

            &lt;!&ndash; Linkedin &ndash;&gt;
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #0082ca;"
                    href="#!"
                    role="button"
            ><mat-icon>linkedin</mat-icon></a>
        </section>-->
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://xperlean.com/">https://xperlean.com/</a>
    </div>
    <!-- Copyright -->
</footer>
